<h1 mat-dialog-title style="height: 3vh;">GAME OVER!</h1>
<div mat-dialog-content style="padding: 0px; overflow: hidden; min-height: 15vh;">
  <mat-grid-list style="padding: 0px; overflow: hidden;" cols="2" rowHeight="2:1">
    <mat-grid-tile >Your Score is:</mat-grid-tile>
    <mat-grid-tile >
      <button style="color: white; background: #3f51b5d6;" mat-fab disabled>
        <span style="font-weight: bold; font-size: -webkit-xxx-large;">
          {{data.name}}</span>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div mat-dialog-actionsstyle="height: 3vh;">
  <button mat-raised-button color="primary" style='width: "-webkit-fill-available";' (click)="onNoClick()">Play
    Game</button>
</div>