
<div>
  <img style="float: right;" src='../../assets/icon.png'><h1 mat-dialog-title>
   Runner Game
</h1></div>

<div mat-dialog-content>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="How To Play">
      <div style="
      text-align: center;">
      <img style="width: 40%;" src='../../assets/arrow keys.png'>
      </div>
    </mat-tab>
    <mat-tab disabled label="High Scores"> Work in progress </mat-tab>
    <mat-tab disabled label="Join High Score List"> Work in progress </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button  (click)="onNoClick()">Play Game</button>
</div>
